#canvas
{
    background-color:#30c0df;
    border: 3px solid black;
    border-radius: 10px;
    display: block;
    margin-top: -20px;
    margin-left: 680px;
    padding: auto;
}

#menuButton
{
    position: absolute;
    background-color: #30c0df;
    color: black;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 400px;
}

#menuButton:hover
{
    background-color: #2ea4be;
    color: white
}

#flappyKarim
{
    position: relative;
    margin-left: 574px;
    margin-top: -35px;
}

a
{
    text-decoration: none;
    color: black;
}
